  body {
  height: 100%;
margin-bottom: 60px;
font-family: 'Playfair Display SC', serif;
}

main {
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}

html {
  position: relative;
  min-height: 100%;
}



input{
  border-radius: 25px;
  border: 2px solid white;
  padding: 20px;
  width:45px;
  height: auto;
  color: white;
}

.navigation{
  padding-bottom: 20px
}

.container-fluid{
text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[name="cityName"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[name="stateName"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
button{
  width: 100px;
}


a{
  color: #11999E;
  text-decoration: none;
  margin: 0px;
}

br{
  display: block;
     margin: 200px 0;
}
